In [185]:
import pandas as pd
import datetime as dt
import regex as re
import os
from pathlib import Path

In [186]:
def get_all_raw_data(dirpath = Path('raw_data/')):
    csv_list = [filename for filename in os.listdir(dirpath)]
    return csv_list

In [187]:
x = get_all_raw_data()
x

['SPY_data.csv', 'TR_data.csv', 'VIX_data.csv']

In [188]:
def clean_col_names(list_dfs, list_csvs):

    list_cols = [df.columns.to_list() for df in list_dfs]
    zipped = zip(list_csvs,list_cols)
    name_list = []
    column_list = []
    for tup in list(zipped):
        name = tup[0]
        match = re.match(r'(\w+)_',name)
        name = match.group(1)
        for col in tup[1]:
            if name.lower() != col.lower():
                name_list.append((name.upper()+'_'+col.lower()))
            else:
                name_list.append(name.upper())

    return name_list

In [189]:
def drop_unnamed(df):
    for col in df.columns:
        if 'Unnamed' in str(col):
            df.drop(columns= col, inplace=True)
    return df

In [190]:
def get_df(list_of_csvs= ['SPY_data.csv','TR_data.csv','VIX_data.csv']):
    """concat a list of csvs into a single df"""
    # make a list of dataframes
    list_dfs = [pd.read_csv(f'raw_data/{_csv}', parse_dates = True, infer_datetime_format = True) for _csv in list_of_csvs]
    for df in list_dfs:
        df.drop_duplicates(inplace=True)
        df['date'] = pd.to_datetime(df['date']).dt.date
        df['date'] = pd.to_datetime(df['date'])
        df = drop_unnamed(df)
    clean_headers = clean_col_names(list_dfs,list_of_csvs)
    merged_df = pd.concat(list_dfs, axis=1, join= 'inner')
    merged_df.columns = clean_headers
    return merged_df
x = get_df()
x

,SPY_date,SPY_open,SPY_high,SPY_low,SPY_close,SPY_volume,SPY_trade_count,SPY_vwap,TR_date,TR,VIX_date,VIX_open,VIX_high,VIX_low,VIX_close
0,2015-12-01,209.42,210.8200,209.1100,210.68,97858418,337780,209.921410,2015-12-02,2.7700,1990-01-02,17.24,17.24,17.24,17.24
1,2015-12-02,210.60,211.0000,208.2300,208.54,108069059,367013,209.563055,2015-12-03,4.3989,1990-01-03,18.19,18.19,18.19,18.19
2,2015-12-03,208.90,209.1500,204.7511,205.58,166224154,546768,206.878936,2015-12-04,4.3900,1990-01-04,19.22,19.22,19.22,19.22
3,2015-12-04,206.10,209.9700,205.9300,209.66,192878747,556731,208.178631,2015-12-07,2.5295,1990-01-05,20.11,20.11,20.11,20.11
4,2015-12-07,209.20,209.7295,207.2000,208.27,102027111,374705,208.276128,2015-12-08,2.5090,1990-01-08,20.26,20.26,20.26,20.26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1588,2022-03-23,446.90,448.4900,443.7100,443.80,77982935,627281,446.058683,2022-03-24,6.7000,1996-04-15,17.54,17.54,16.82,16.83
1589,2022-03-24,445.82,450.5000,444.7600,450.48,61411569,526865,447.609014,2022-03-25,4.5500,1996-04-16,16.51,16.56,16.21,16.45
1590,2022-03-25,451.09,452.9800,448.4300,452.69,77199328,661033,451.047221,2022-03-28,5.8500,1996-04-17,16.50,17.30,16.36,17.07
1591,2022-03-28,452.04,455.9100,450.0600,455.91,68356914,620868,453.294974,2022-03-29,6.2300,1996-04-18,16.69,17.06,16.24,16.41
1592,2022-03-29,461.75,462.0700,457.1800,461.55,86315479,735659,459.632252,2022-03-30,5.0650,1996-04-19,14.56,15.40,14.30,15.12

In [191]:
def get_df(list_of_csvs= ['SPY_data.csv','TR_data.csv','VIX_data.csv']):
    """concat a list of csvs into a single df"""
    list_dfs = [pd.read_csv(f'raw_data/{_csv}', parse_dates = True, infer_datetime_format = True) for _csv in list_of_csvs]
    for df in list_dfs:
        df.drop_duplicates(inplace=True)
        df['date'] = pd.to_datetime(df['date']).dt.date
        df['date'] = pd.to_datetime(df['date'])
        df = drop_unnamed(df)
        df.set_index('date',inplace=True)
    clean_headers = clean_col_names(list_dfs,list_of_csvs)
    merged_df = pd.concat(list_dfs, axis=1, join= 'inner')  
    merged_df.columns = clean_headers
    return merged_df
x = get_df()
x

,SPY_open,SPY_high,SPY_low,SPY_close,SPY_volume,SPY_trade_count,SPY_vwap,TR,VIX_open,VIX_high,VIX_low,VIX_close
date,,,,,,,,,,,,
2015-12-02,210.60,211.0000,208.2300,208.54,108069059,367013,209.563055,2.7700,15.04,16.49,14.71,15.91
2015-12-03,208.90,209.1500,204.7511,205.58,166224154,546768,206.878936,4.3989,15.87,19.35,15.86,18.11
2015-12-04,206.10,209.9700,205.9300,209.66,192878747,556731,208.178631,4.3900,17.43,17.65,14.69,14.81
2015-12-07,209.20,209.7295,207.2000,208.27,102027111,374705,208.276128,2.5295,15.65,17.18,15.58,15.84
2015-12-08,206.48,208.2890,205.7800,206.99,103372367,387782,206.966276,2.5090,17.69,18.33,16.52,17.60
...,...,...,...,...,...,...,...,...,...,...,...,...
2022-03-23,446.90,448.4900,443.7100,443.80,77982935,627281,446.058683,5.8800,23.04,24.03,22.64,23.57
2022-03-24,445.82,450.5000,444.7600,450.48,61411569,526865,447.609014,6.7000,23.61,23.79,21.49,21.67
2022-03-25,451.09,452.9800,448.4300,452.69,77199328,661033,451.047221,4.5500,21.87,22.86,20.80,20.81
2022-03-28,452.04,455.9100,450.0600,455.91,68356914,620868,453.294974,5.8500,22.14,23.33,19.54,19.63
2022-03-29,461.75,462.0700,457.1800,461.55,86315479,735659,459.632252,6.2300,19.70,19.73,18.67,18.90

In [192]:
import utils_laramie

x = get_df(['SPY_data.csv'])
x.head()

,SPY_open,SPY_high,SPY_low,SPY_close,SPY_volume,SPY_trade_count,SPY_vwap
date,,,,,,,
2015-12-01,209.42,210.8200,209.1100,210.68,97858418,337780,209.921410
2015-12-02,210.60,211.0000,208.2300,208.54,108069059,367013,209.563055
2015-12-03,208.90,209.1500,204.7511,205.58,166224154,546768,206.878936
2015-12-04,206.10,209.9700,205.9300,209.66,192878747,556731,208.178631
2015-12-07,209.20,209.7295,207.2000,208.27,102027111,374705,208.276128

In [193]:
x = get_df(['SPY_data.csv','VIX_data.csv'])
x.head()

,SPY_open,SPY_high,SPY_low,SPY_close,SPY_volume,SPY_trade_count,SPY_vwap,VIX_open,VIX_high,VIX_low,VIX_close
date,,,,,,,,,,,
2015-12-01,209.42,210.8200,209.1100,210.68,97858418,337780,209.921410,15.61,16.34,14.63,14.67
2015-12-02,210.60,211.0000,208.2300,208.54,108069059,367013,209.563055,15.04,16.49,14.71,15.91
2015-12-03,208.90,209.1500,204.7511,205.58,166224154,546768,206.878936,15.87,19.35,15.86,18.11
2015-12-04,206.10,209.9700,205.9300,209.66,192878747,556731,208.178631,17.43,17.65,14.69,14.81
2015-12-07,209.20,209.7295,207.2000,208.27,102027111,374705,208.276128,15.65,17.18,15.58,15.84

In [194]:
x.reset_index(inplace=True)
x.to_csv('clean_data/SPY_TR_VIX_data.csv')

In [195]:
df = get_df(get_all_raw_data())
df['weekly_range'] = 0

In [196]:
week_group = df.groupby(by = [df.index.isocalendar().week,df.index.isocalendar().day]).max()
week_group.head(10)

          SPY_open  SPY_high   SPY_low  SPY_close  SPY_volume  \
week day
1    1      476.45    477.85  473.8500     477.71   222353534
     2      479.26    479.98  475.5800     477.55   110845729
     3      477.25    477.98  468.2900     468.38   152112604
     4      468.00    470.82  465.4300     467.94   213436023
     5      468.00    469.20  464.6500     466.09   209567228
2    1      462.74    465.74  456.5973     465.51   187941153
     2      465.24    469.85  462.0500     469.75   172330490
     3      471.65    473.20  468.9400     471.02   221154886
     4      472.20    472.88  463.4400     464.53   240795609
     5      461.10    465.09  459.9000     464.72   324846447

          SPY_trade_count    SPY_vwap       TR  VIX_open  VIX_high  VIX_low  \
week day
1    1             655482  476.520945  10.6300     27.19     29.19    25.33
     2             565261  477.865001   4.4500     26.94     28.60    24.80
     3             784963  473.338870   9.6900     27.67     27.72    23.05
     4             803299  468.482337   6.5100     24.67     26.57    24.05
     5             754911  466.942032   8.9000     23.72     27.08    22.48
2    1             956599  461.591715   9.4927     25.58     27.39    23.83
     2             635729  466.487746   7.8000     23.49     25.15    22.83
     3             812684  470.995627   6.4800     23.07     26.11    21.92
     4             824310  467.941854   9.4400     24.75     26.28    23.07
     5            1105558  462.947450   6.3700     28.96     30.95    26.67

          VIX_close  weekly_range
week day
1    1        26.97             0
     2        25.34             0
     3        25.07             0
     4        25.45             0
     5        27.01             0
2    1        24.30             0
     2        23.33             0
     3        25.22             0
     4        23.95             0
     5        27.02             0

In [197]:
week_group = df.groupby(by = [df.index.isocalendar().week,df.index.isocalendar().day])
weekly_ind = week_group.groups
last_day_of_week = []
for tup in weekly_ind.keys():
    if tup[1] == 5:
        last_day_of_week.append(weekly_ind[tup])

In [198]:
def flatten(list_of_lists):
        return [item for sublist in list_of_lists for item in sublist]
last_day_of_week = flatten(last_day_of_week)

In [199]:
last_day_of_week = pd.Series(last_day_of_week)

In [200]:
last_day_of_week

0     2016-01-08
1     2017-01-06
2     2018-01-05
3     2019-01-04
4     2020-01-03
         ...
313   2016-12-30
314   2017-12-29
315   2018-12-28
316   2019-12-27
317   2021-12-31
Length: 318, dtype: datetime64[ns]

In [201]:
df['DayOfWeek'] = df.index.day_name()

In [202]:
df

,SPY_open,SPY_high,SPY_low,SPY_close,SPY_volume,SPY_trade_count,SPY_vwap,TR,VIX_open,VIX_high,VIX_low,VIX_close,weekly_range,DayOfWeek
date,,,,,,,,,,,,,,
2015-12-02,210.60,211.0000,208.2300,208.54,108069059,367013,209.563055,2.7700,15.04,16.49,14.71,15.91,0,Wednesday
2015-12-03,208.90,209.1500,204.7511,205.58,166224154,546768,206.878936,4.3989,15.87,19.35,15.86,18.11,0,Thursday
2015-12-04,206.10,209.9700,205.9300,209.66,192878747,556731,208.178631,4.3900,17.43,17.65,14.69,14.81,0,Friday
2015-12-07,209.20,209.7295,207.2000,208.27,102027111,374705,208.276128,2.5295,15.65,17.18,15.58,15.84,0,Monday
2015-12-08,206.48,208.2890,205.7800,206.99,103372367,387782,206.966276,2.5090,17.69,18.33,16.52,17.60,0,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-03-23,446.90,448.4900,443.7100,443.80,77982935,627281,446.058683,5.8800,23.04,24.03,22.64,23.57,0,Wednesday
2022-03-24,445.82,450.5000,444.7600,450.48,61411569,526865,447.609014,6.7000,23.61,23.79,21.49,21.67,0,Thursday
2022-03-25,451.09,452.9800,448.4300,452.69,77199328,661033,451.047221,4.5500,21.87,22.86,20.80,20.81,0,Friday
2022-03-28,452.04,455.9100,450.0600,455.91,68356914,620868,453.294974,5.8500,22.14,23.33,19.54,19.63,0,Monday
2022-03-29,461.75,462.0700,457.1800,461.55,86315479,735659,459.632252,6.2300,19.70,19.73,18.67,18.90,0,Tuesday

In [205]:
week_high = 0  
week_low = 999999
for index, row in df.iterrows():
    if df.loc[index, 'DayOfWeek'] == 'Monday':
        week_high = df.loc[index,'SPY_high']
        week_low = df.loc[index,'SPY_low']
    else: 
        if df.loc[index,'SPY_high']>week_high:
            week_high=df.loc[index,'SPY_high']
        if df.loc[index,'SPY_low']<week_low:
            week_low=df.loc[index,'SPY_low']
        if df.loc[index,'DayOfWeek'] == 'Friday':
            df.loc[index,'weekly_range'] = week_high - week_low

In [212]:
display(df.head(15))
display(df.tail(15))

,SPY_open,SPY_high,SPY_low,SPY_close,SPY_volume,SPY_trade_count,SPY_vwap,TR,VIX_open,VIX_high,VIX_low,VIX_close,weekly_range,DayOfWeek
date,,,,,,,,,,,,,,
2015-12-02,210.60,211.0000,208.2300,208.54,108069059,367013,209.563055,2.7700,15.04,16.49,14.71,15.91,0.0000,Wednesday
2015-12-03,208.90,209.1500,204.7511,205.58,166224154,546768,206.878936,4.3989,15.87,19.35,15.86,18.11,0.0000,Thursday
2015-12-04,206.10,209.9700,205.9300,209.66,192878747,556731,208.178631,4.3900,17.43,17.65,14.69,14.81,6.2489,Friday
2015-12-07,209.20,209.7295,207.2000,208.27,102027111,374705,208.276128,2.5295,15.65,17.18,15.58,15.84,0.0000,Monday
2015-12-08,206.48,208.2890,205.7800,206.99,103372367,387782,206.966276,2.5090,17.69,18.33,16.52,17.60,0.0000,Tuesday
2015-12-09,206.20,208.6800,204.1800,205.33,162401537,586210,206.034646,4.5000,18.05,20.13,15.72,19.61,0.0000,Wednesday
2015-12-10,205.44,207.4300,205.1400,205.86,116128858,404992,206.102975,2.2900,19.25,19.72,18.13,19.34,0.0000,Thursday
2015-12-11,203.38,204.1400,201.5100,201.88,211173305,669924,203.150102,4.3500,21.36,25.27,20.88,24.39,8.2195,Friday
2015-12-14,202.10,203.0500,199.9500,203.00,182357840,726916,201.724387,3.1000,24.70,26.81,21.47,22.73,0.0000,Monday
2015-12-15,204.69,206.1100,202.8666,205.06,154001569,489512,204.958720,3.2434,20.76,21.62,20.02,20.95,0.0000,Tuesday
2015-12-16,206.37,208.3900,204.8000,208.02,196939008,668715,206.526496,3.5900,19.25,20.24,17.12,17.86,0.0000,Wednesday
2015-12-17,208.37,208.4800,204.8400,204.86,172045733,570147,206.311631,3.6400,16.18,19.05,16.13,18.94,0.0000,Thursday
2015-12-18,202.77,202.9300,199.8300,200.02,251273535,837830,201.605189,5.0300,19.34,23.30,18.75,20.70,8.6500,Friday
2015-12-21,201.43,201.8800,200.0900,201.70,98494290,375643,201.093980,1.8600,19.64,20.21,18.70,18.70,0.0000,Monday
2015-12-22,202.70,203.8500,201.5500,203.56,110922396,380847,202.805520,2.3000,17.61,18.22,16.60,16.60,0.0000,Tuesday

,SPY_open,SPY_high,SPY_low,SPY_close,SPY_volume,SPY_trade_count,SPY_vwap,TR,VIX_open,VIX_high,VIX_low,VIX_close,weekly_range,DayOfWeek
date,,,,,,,,,,,,,,
2022-03-09,425.16,429.51,422.83,427.33,110176608,1079760,426.138376,13.26,33.74,34.12,31.39,32.45,0.0000,Wednesday
2022-03-10,422.42,426.43,420.44,425.48,91933914,891241,423.871044,6.89,33.03,34.03,30.23,30.23,0.0000,Thursday
2022-03-11,428.20,428.77,419.53,420.07,90803923,809145,424.040193,9.24,30.43,31.04,28.84,30.75,17.1818,Friday
2022-03-14,420.98,424.55,415.79,417.00,91251505,858504,419.220077,8.76,31.03,33.18,30.06,31.77,0.0000,Monday
2022-03-15,419.66,426.84,418.42,426.17,104219651,920659,422.752423,9.84,33.13,33.83,29.57,29.83,0.0000,Tuesday
2022-03-16,429.94,435.68,424.80,435.55,138130298,1344164,431.339744,10.88,29.02,29.80,26.29,26.67,0.0000,Wednesday
2022-03-17,433.70,441.07,433.19,441.07,100157174,784018,437.706981,7.88,26.51,27.47,25.25,25.67,0.0000,Thursday
2022-03-18,437.81,444.86,437.22,444.31,102327793,790235,441.458916,7.64,26.36,26.82,23.85,23.87,29.0700,Friday
2022-03-21,444.45,446.46,440.68,444.30,85377983,912432,443.796432,5.78,25.14,25.36,22.99,23.53,0.0000,Monday
2022-03-22,445.99,450.58,445.86,449.59,73674202,623610,448.558595,6.28,24.02,24.02,22.70,22.94,0.0000,Tuesday
2022-03-23,446.90,448.49,443.71,443.80,77982935,627281,446.058683,5.88,23.04,24.03,22.64,23.57,0.0000,Wednesday
2022-03-24,445.82,450.50,444.76,450.48,61411569,526865,447.609014,6.70,23.61,23.79,21.49,21.67,0.0000,Thursday
2022-03-25,451.09,452.98,448.43,452.69,77199328,661033,451.047221,4.55,21.87,22.86,20.80,20.81,12.3000,Friday
2022-03-28,452.04,455.91,450.06,455.91,68356914,620868,453.294974,5.85,22.14,23.33,19.54,19.63,0.0000,Monday
2022-03-29,461.75,462.07,457.18,461.55,86315479,735659,459.632252,6.23,19.70,19.73,18.67,18.90,0.0000,Tuesday